.head{
    text-align: center;
    color: #e0e0e0;
    background-color: #1c3334;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 100px;
    flex-direction: row;
}


.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    /* color: #fff; */
    background-color: deeppink;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  *{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	color: #d9d9d9;
}
/*NAVIGATION BAR*/
.menu-bar{
    background-color: #317773;
    text-align: right;
    
}
.menu-bar ul {
	display: inline-flex;
	list-style: none;
	color: #fff;
}
.menu-bar ul li{
	padding: 15px;
	margin: 15px;
	width: 120;
}
.menu-bar ul li a
{
	text-decoration: none;
	color: #fff;
}
.active, .menu-bar ul li:hover
{
	background: Purple;
	border-radius: 3px;
}
.menu-bar .fa{
	margin: 5px;
}
.sub-menu-1{
	display: none;
}
.menu-bar ul li:hover .sub-menu-1{
  z-index: 1;   
	display: block;
	position: absolute;
	background-color: darkslateblue;
	margin-top: 15px;
  margin-left: -15px;
  padding: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul
{
  
	display: block;
	margin: -10px;
  margin-right: 15px;
}
.menu-bar ul li:hover .sub-menu-1 ul li
{
  
    /* width: 165px;  */
    padding: 5px; 
	border-bottom: 1px dotted #fff; 
	background: transparent;
    text-align: left;
    border-radius: 0;
} 
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
	border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
	color:  #22EEB5;
}


/*-----FACULTIES MEMBERS -----*/

.sch{
    height: 250px;
    width: 100%;
    background: #222;
  }
  .schh{
    text-align: center;
    padding: 100px;
    padding-top: 110px;
    font-size: 30px;
  }   
  .ad{
    font-size: 20px;
  }
    /*FACILITIES*/
#schoolmanage{
    background-color: #191919 ;
    color: #fff;
    text-align: center;
    padding: 90px;
    padding-top: 60px;
    height: 1000px;
  }
  
  .container {
    /* display: grid;
    grid-gap: 20px; */
    grid-template-columns: repeat(4 , 1fr);
    align-items: center;
    padding-left: 500px;
  }

  .facul{
    margin: 5px;
    border: 1px solid #ccc;
    /* float: left; */
    width: 150px;
  }
  .facul img{
    width: 100%;
    height: 200px;
  }
  .facul:hover {
    border: 1px solid #777;
    background-color: purple;
  }
  .des{
      margin: auto;
      padding: 0px;
  }
  .dec{
    padding: 5px;
    text-align: center;
  }
  .dec1{
      padding-bottom: 5px;
      color: #999;
  }

/*FOOTER SECTION*/
.box h2{
	font-size: 1.125rem;
	font-weight: 600;
	text-transform: uppercase;
	color: #22EEB5;
}
footer{
    position: inherit;
    bottom: 0px;
    width: 100%;
    background: #1c3334;
  }
  .main-content{
    display: flex;
    color: aliceblue;;
  }
  .social {
	color: #fff;
}
  .main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
  }
  .box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .box .content{
    margin: 20px 0 0 0;
    position: relative;
  }
  .box .content:before{
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #1a1a1a;
  }
  .box .content:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: #f12020;
    top: -10px;
  }
    /*----FOOTER LEFT----*/
  .left .content p{
    text-align: justify;
  }
  .left .content .social{
    margin: 20px 0 0 0;
  }
  .left .content .social a{
    padding: 0 2px;
  }
  .left .content .social a span{
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
  }
  .left .content .social a span:hover{
    background: Purple;
  }

  /*----FOOTER CENTER----*/
  .center .content .fas{
    font-size: 1.4375rem;
    background: #1a1a1a; 
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
  }
  .center .content .fas:hover{
    background: Purple;
  }
  .center .content .text{
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
  }
  .center .content .phone{
    margin: 15px 0;
  }
  .center .content .website{
    margin: 15px 0;
  }


  /*-----FOOTER RIGHT-----*/
  .right form .text{
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #656565;
  }
  .right form .msg{
    margin-top: 10px;
  }
  .right form input, .right form textarea{
    width: 100%;
    font-size: 1.0625rem;
    background: #d9d9d9;
    padding-left: 10px;
    border: 1px solid #222222;
    border-radius: 5px;
  }
  .right form input:focus,
  .right form textarea:focus{
    outline-color: #3498db;
  }
  .right form input{
    height: 35px;
  }
  .right form .btn{
    margin-top: 10px;
  }
  .right form .btn button{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: orange;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
  }
  .right form .btn button:hover{
    background: #000;
  }
  .bottom center{
    padding: 5px;
    font-size: 0.9375rem;
    background: #151515;
  }
  .bottom center span{
    color: #656565;
  }
  .bottom center a{
    color: #f12020;
    text-decoration: none;
  }
  .bottom center a:hover{
    text-decoration: underline;
  }
  @media screen and (max-width: 900px) {
    footer{
      position: relative;
      bottom: 0px;
    }
    .main-content{
      flex-wrap: wrap;
      flex-direction: column;
    }
    .main-content .box{
      margin: 5px 0;
    }
  }
.red-outlined-btn {
    margin-top: 12px;
    font-size: 12px;
	margin-right: 10px;
    color:#fff;
    background-color: #e8290b;
    outline: 1px solid #222;
    border: none;
    outline-offset: -5px;
    padding: 10px;
    transition: all .2s linear ;
    cursor: pointer;
}

.red-outlined-btn:hover {
    background-color: #fff;
    color: #e8290b;
}

.hr {
	width: 100%;
	border: 0;
	border-radius: 1px solid #fff;
	margin: 20px auto;
}

/*---COPYRIGHT-----*/

.copyright{
	justify-content: space-between;
    display: flex;
	padding-left: 15px;
    padding-right: 15px;
	color: aqua;
	align-items: center;
	list-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
.heart {
    color: deeppink;
}
.copyright a:hover {
	color: red;
}
.copyright a {
    list-style: none;
}
